In [3]:
import tensorflow as tf
from tensorflow.keras.models import Sequential

from tensorflow.keras.layers import Dense, Flatten, Conv2D, MaxPooling2D, Dropout 
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
# import cv2

In [4]:
img_height = 128
img_width = 128
batch_size = 32
epochs = 10
num_classes = 10

In [5]:
df = pd.read_csv('datasets/list_attr_celeba.csv')

In [6]:
df.head(5)

,image_id,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,-1,1,1,-1,1,-1,1,-1,-1,1
1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1

In [7]:
df['image_id'] = df['image_id'].apply(lambda x: x[:-4])

In [14]:
print(df.head())

  image_id  5_o_Clock_Shadow  Arched_Eyebrows  Attractive  Bags_Under_Eyes  \
0   006715                -1               -1          -1               -1
1   093769                -1               -1          -1               -1
2   036843                -1               -1           1               -1
3   022238                -1                1          -1                1
4   037214                -1               -1          -1               -1

   Bald  Bangs  Big_Lips  Big_Nose  Black_Hair  ...  Sideburns  Smiling  \
0    -1     -1        -1         1          -1  ...          1        1
1    -1     -1        -1        -1          -1  ...         -1        1
2    -1      1        -1        -1          -1  ...         -1       -1
3    -1     -1        -1         1           1  ...         -1        1
4    -1     -1        -1        -1           1  ...         -1       -1

   Straight_Hair  Wavy_Hair  Wearing_Earrings  Wearing_Hat  Wearing_Lipstick  \
0              1         -1                -1           -1                -1
1             -1         -1                -1            1                -1
2             -1         -1                -1           -1                -1
3             -1         -1                 1           -1                 1
4             -1         -1                -1           -1                -1

   Wearing_Necklace  Wearing_Necktie  Young
0                -1               -1     -1
1                -1                1      1
2                -1               -1      1
3                 1               -1      1
4                -1               -1      1

[5 rows x 41 columns]

In [9]:
df = df.sample(frac=1).reset_index(drop=True)

In [10]:
df.head()

,image_id,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
0,006715,-1,-1,-1,-1,-1,-1,-1,1,-1,...,1,1,1,-1,-1,-1,-1,-1,-1,-1
1,093769,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,1,-1,-1,1,1
2,036843,-1,-1,1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
3,022238,-1,1,-1,1,-1,-1,-1,1,1,...,-1,1,-1,-1,1,-1,1,1,-1,1
4,037214,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1

In [11]:
!pip install opencv-python

Collecting opencv-python
  Downloading opencv_python-4.11.0.86-cp37-abi3-win_amd64.whl.metadata (20 kB)
Requirement already satisfied: numpy>=1.21.2 in d:\anaconda\envs\tf_env\lib\site-packages (from opencv-python) (2.1.3)
Downloading opencv_python-4.11.0.86-cp37-abi3-win_amd64.whl (39.5 MB)
   ---------------------------------------- 0.0/39.5 MB ? eta -:--:--
    --------------------------------------- 0.8/39.5 MB 3.3 MB/s eta 0:00:12
   -- ------------------------------------- 2.4/39.5 MB 5.8 MB/s eta 0:00:07
   ----- ---------------------------------- 5.2/39.5 MB 9.1 MB/s eta 0:00:04
   ------ --------------------------------- 6.3/39.5 MB 7.7 MB/s eta 0:00:05
   ------ --------------------------------- 6.3/39.5 MB 7.7 MB/s eta 0:00:05
   ------ --------------------------------- 6.6/39.5 MB 5.6 MB/s eta 0:00:06
   ------ --------------------------------- 6.8/39.5 MB 4.6 MB/s eta 0:00:08
   ------ --------------------------------- 6.8/39.5 MB 4.6 MB/s eta 0:00:08
   ------- -------------------------------- 7.1/39.5 MB 4.0 MB/s eta 0:00:09
   ------- -------------------------------- 7.3/39.5 MB 3.7 MB/s eta 0:00:09
   ------- -------------------------------- 7.9/39.5 MB 3.3 MB/s eta 0:00:10
   ------- -------------------------------- 7.9/39.5 MB 3.3 MB/s eta 0:00:10
   -------- ------------------------------- 8.1/39.5 MB 3.1 MB/s eta 0:00:10
   -------- ------------------------------- 8.4/39.5 MB 3.0 MB/s eta 0:00:11
   --------- ------------------------------ 8.9/39.5 MB 2.8 MB/s eta 0:00:11
   --------- ------------------------------ 9.2/39.5 MB 2.7 MB/s eta 0:00:12
   --------- ------------------------------ 9.4/39.5 MB 2.7 MB/s eta 0:00:12
   ---------- ----------------------------- 10.0/39.5 MB 2.6 MB/s eta 0:00:12
   ---------- ----------------------------- 10.5/39.5 MB 2.6 MB/s eta 0:00:12
   ---------- ----------------------------- 10.7/39.5 MB 2.6 MB/s eta 0:00:12
   ----------- ---------------------------- 11.3/39.5 MB 2.5 MB/s eta 0:00:12
   ----------- ---------------------------- 11.8/39.5 MB 2.5 MB/s eta 0:00:11
   ------------ --------------------------- 12.6/39.5 MB 2.6 MB/s eta 0:00:11
   ------------- -------------------------- 13.1/39.5 MB 2.6 MB/s eta 0:00:11
   ------------- -------------------------- 13.6/39.5 MB 2.6 MB/s eta 0:00:11
   -------------- ------------------------- 14.4/39.5 MB 2.6 MB/s eta 0:00:10
   --------------- ------------------------ 15.2/39.5 MB 2.7 MB/s eta 0:00:10
   ---------------- ----------------------- 16.0/39.5 MB 2.7 MB/s eta 0:00:09
   ----------------- ---------------------- 17.0/39.5 MB 2.8 MB/s eta 0:00:09
   ------------------ --------------------- 18.1/39.5 MB 2.9 MB/s eta 0:00:08
   ------------------ --------------------- 18.6/39.5 MB 2.8 MB/s eta 0:00:08
   ------------------- -------------------- 19.4/39.5 MB 2.9 MB/s eta 0:00:08
   -------------------- ------------------- 19.9/39.5 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 22.0/39.5 MB 3.1 MB/s eta 0:00:06
   ----------------------- ---------------- 22.8/39.5 MB 3.1 MB/s eta 0:00:06
   ----------------------- ---------------- 23.6/39.5 MB 3.1 MB/s eta 0:00:06
   ------------------------- -------------- 25.4/39.5 MB 3.3 MB/s eta 0:00:05
   --------------------------- ------------ 27.0/39.5 MB 3.4 MB/s eta 0:00:04
   --------------------------- ------------ 27.5/39.5 MB 3.4 MB/s eta 0:00:04
   ---------------------------- ----------- 28.3/39.5 MB 3.4 MB/s eta 0:00:04
   ----------------------------- ---------- 29.1/39.5 MB 3.4 MB/s eta 0:00:04
   ------------------------------ --------- 30.1/39.5 MB 3.4 MB/s eta 0:00:03
   ------------------------------- -------- 31.2/39.5 MB 3.4 MB/s eta 0:00:03
   -------------------------------- ------- 31.7/39.5 MB 3.4 MB/s eta 0:00:03
   -------------------------------- ------- 32.2/39.5 MB 3.4 MB/s eta 0:00:03
   --------------------------------- ------ 33.0/39.5 MB 3.4 MB/s eta 0:00:02
   ---------------------------------- ----- 33.8/39.5 MB 3.4 MB/s eta 0:00:02
   ----------------------------------- ---- 34.6/39.5 MB 3.4 MB/s eta 0:00:02
   ------------------------------------ --- 36.2/39.5 MB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 37.7/39.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  38.8/39.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 39.5/39.5 MB 3.6 MB/s eta 0:00:00
Installing collected packages: opencv-python
Successfully installed opencv-python-4.11.0.86

In [13]:
import cv2
import os

In [ ]:
num_classes = df